@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Roles";
}

<h2>Roles</h2>

<p>
    @Html.ActionLink("Create New", "Create") |
    @Html.ActionLink("Users", "Index", "Users")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @using (Html.BeginForm("Delete", "Roles", FormMethod.Post))
            {
            <div class="form-actions no-color">
                @Html.Hidden("id", item.Id)
                <input type="submit" value="Delete" class="btn btn-link" />
            </div>
            }
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id })
        </td>
    </tr>
    }


</table>

